.Footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
    background-color: black;
    color: white;
    flex-direction: column;
    /* 垂直排列 sitemap 和 small */

    a {
        font-weight: 500;
        text-decoration: inherit;
        color: white;
    }

    a:hover {
        color: #535bf2;
    }

    .sitemap {
        display: flex;
        list-style: none;

    }

    li {
        margin: 0 10px;
    }

    small {
        align-self: flex-end;
        font-size: 0.5rem;

    }

    .WineType {
        font-size: 0.8rem;
        list-style: none;
    }
}