@use 'reset' as *;
@use "variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=Yeseva+One&display=swap');

body {
    background-color: $pri-white;
    color: $pri-dark;
    width: 100%;
    height: 100vh;
    min-height: 800px;
}

.Ian_news {
    position: relative;
    height: 100vh;
    background-color: white;
    color: #000;
    z-index: 0;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background: url(/images/newsBefore.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 100%;
        width: 100%;
        height: 100%;
        z-index:-1;
    }



    .Ian_mainArea {

        box-sizing: border-box;
        /* << 讓 height 包含 padding，不會因為改 padding 影響外觀總高 */
        height: 95%;
        padding: 8% 8% 3% 8%;
        display: flex;
        flex-direction: row;
        align-self: stretch;

        .Ian_title {
            width: 15%;
            font-size: 40px;
            display: flex;
            flex-direction: row;
            border-right: 3px solid $pri-dark;


            h1 {
                writing-mode: vertical-rl;
                align-self: center;
                font-family: $family-tc;
                font-weight: bold;
            }
        }
    }

    .Ian_pageBox {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .Ian_newsPages {
            font-family: $family-en;
            flex: 0 0 auto;
            width: fit-content; 
            min-width: 5%;
        }
    }
}

.Ian_articleArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 70%;
    // gap: 40px;

    .Ian_articleBody {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: $pri-dark;
        // justify-content: space-between;


        .Ian_dateBox {
            font-family: $family-en;
            width: 15%;
            display: flex;
            flex-direction: row;

            .Ian_decorateBox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                margin-right: 10px;
                height: 100%;

                .Ian_decorateUpBox {
                    width: 30px;
                    height: 50%;
                    border-bottom: solid 2px $pri-dark;
                }

                .Ian_decorateDownBox {
                    width: 30px;
                    height: 50%;
                    border-top: solid 2px $pri-dark;
                }
            }

            .Ian_articleDate {
                display: flex;
                flex-direction: column;


                .Ian_month {
                    font-size: 24px;
                }

                .Ian_date {
                    font-size: 16px;
                    line-height: 1.5;
                    align-self: flex-end;
                }
            }
        }

        .Ian_articleMain {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: stretch;
            margin-left: 70px;
            width: 100%;
            height: 10%;
            background-color: $pri-white;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05) translateY(-5px);
            }

            .Ian_textBox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;
                min-width: 50%;
                padding-left: 10px;

                h2 {
                    font-size: 24px;
                }

                h3 {
                    font-size: 16px;
                }
            }
        }
    }

}