@use "reset";
@use "variables" as *;

.titlt{
    text-align: center;
    h2{
        font-family: $family-en;
    }
    h3{
        font-family: $family-tc;
        color:rgba($primary,$alpha-20);
    }
}