//color
$primary:#79ccff;
$mode-dark:#4d4d4d;
$mode-light:#f4f4f4;

//Neutral colors
$white:#fefeff;
$light:#f2f7fa;
$light-gray:#e7ebee;
$gray:#c8cacc;
$dark-gray:#a9acad;
$deep-gray:#828486;
$charcoal:#393a3a;
$black:#0a0a0a;

//alpha
$alpha-20:0.2;
$alpha-30:0.3;
$alpha-40:0.4;
$alpha-50:0.5;