//font-family
$family-en:"Rosaline, serif";
$family-tc:"LXGW Wenkai TC",cursive;

//font-size
$font-size-xs:0.75rem;
$font-size-sm:0.85rem;
$font-size-md:1rem;
$font-size-lg:1.2rem;
$font-size-xl:1.5rem;
$font-size-xxl:1.8rem;
$font-size-ex:4rem;